table.big-data-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    line-height: 22px;
    font-family: Circe-Regular;
}

table.big-data-table td .checkbox-inline input[type=checkbox] {
    top: 0;
}

table.big-data-table a,
table.big-data-table td .checkbox-inline span {
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
	position: relative;
	z-index: 99;
}

.checkbox-inline span {
    padding-left: 25px;
}

table.big-data-table input[type=checkbox]:checked:after {
    left: 30px;
}

table.big-data-table input[type=checkbox]:before {
    left: 21px;
    position: absolute;
}

table.big-data-table .checkbox-inline {
    padding-left: 0;
}

table.big-data-table td {
    max-width: 120px;
}

table.big-data-table a {
    color: #0000ff;
    text-decoration: underline;
}

table.big-data-table a:hover {
    color: #ff0000;
}

table.big-data-table th {
    color: #000000;
    font-weight: bold;
    position: relative;
}

table.big-data-table th .sort-element {
    padding-right: 3px;
}

table.big-data-table th .sort-icon {
    position: absolute;
    top: 10px;
    color: #0000ff;
}

table.big-data-table th .title {
    border-bottom: 1px dotted #000000;
    display: inline;
}

table.big-data-table th .title:hover {
    cursor: pointer;
    color: #555555;
}

table.big-data-table td, table.big-data-table th {
    padding: 6px;
    border: 0;
    text-align: left;
}

table.big-data-table tr {
    border: 1px solid transparent;
    display: ruby !important;
}

table.big-data-table tr:hover {
    background: rgba(255, 191, 0, 0.2);
}

table.big-data-table thead tr:hover {
    background: transparent;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    table.big-data-table {
        border: 0 !important;
        margin: 0;
    }

    table.big-data-table tr:hover {
        background: transparent;
    }

    table.big-data-table tr:nth-of-type(odd) {
        background: #f3f3f3;
    }
    table.big-data-table td,
    table.big-data-table td .checkbox-inline span {
        max-width: 100%;
    }
    table.big-data-table,
    table.big-data-table
    table.big-data-table thead,
    table.big-data-table tbody,
    table.big-data-table th,
    table.big-data-table td,
    table.big-data-table tr {
        display: block;
        min-height: 35px;
    }

    table.big-data-table tr {
        border: 0;
    }

    table.big-data-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    table.big-data-table tr,
    table.big-data-table .show-td {
        position: relative;
    }
    table.big-data-table .show-td {
        border: 1px solid #000000;
    }
    table.big-data-table tr.show-td:before,
    table.big-data-table tr:before {
        position: absolute;
        font-family: Arial;
        font-size: 14px;
        top: 5px;
        right: 5px;
    }

    table.big-data-table tr:before {
        content: "\2192";
    }

    table.big-data-table tr.show-td:before {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    table.big-data-table tr:hover {
        cursor: pointer;
    }
    table.big-data-table .checkbox-inline:hover {
        color: #ff0000;
    }
    table.big-data-table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        padding-right: 20px;
    }

    table.big-data-table td:first-child {
        display: block;
    }

    table.big-data-table td {
        display: none;
    }

    table.big-data-table .show-td td {
        display: block;
    }

    table.big-data-table .show-td td .checkbox-inline span {
        font-weight: bold;
        color: #555;
    }
    
    table.big-data-table .show-td td .checkbox-inline span:hover {
        color: #ff0000;
    }
    
    table.big-data-table td:before {
        position: absolute;
        top: 6px;
        left: 13px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
    }

    table.big-data-table td:hover {
        background: rgba(255, 191, 0, 0.2);
    }
    table.big-data-table td:nth-of-type(1) {padding-left: 10px;}
    table.big-data-table td:nth-of-type(1):before { content: ""; }
    table.big-data-table td:nth-of-type(2):before { content: "Фоно"; }
    table.big-data-table td:nth-of-type(3):before { content: "3"; }
    table.big-data-table td:nth-of-type(4):before { content: "Перевод"; }
    table.big-data-table td:nth-of-type(5):before { content: "1P"; }
    table.big-data-table td:nth-of-type(6):before { content: "xP"; }
    table.big-data-table td:nth-of-type(7):before { content: "Веб"; }
    table.big-data-table td:nth-of-type(8):before { content: "Алекса"; }
    table.big-data-table td:nth-of-type(9):before { content: "тИЦ"; }
    table.big-data-table td:nth-of-type(10):before { content: "ЯК"; }
    table.big-data-table td:nth-of-type(11):before { content: "ПР"; }
    table.big-data-table td:nth-of-type(12):before { content: "ЛП"; }
    table.big-data-table td:nth-of-type(13):before { content: "Юр"; }
}


